@model PostaCitasWeb.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="text-center mb-4">Acceso al Sistema</h3>
                <form asp-controller="Auth" asp-action="Login" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Usuario" class="control-label"></label>
                        <input asp-for="Usuario" class="form-control" placeholder="Ingrese su DNI o Usuario" />
                        <span asp-validation-for="Usuario" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Password" class="control-label">Contraseña</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="******" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}